/* 这是内联样式，如果你不想单独的styles.css文件，你也可以这么做 */
body {
    background-color: #f9f9f9; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #666;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    text-indent: 2em; /* 首行缩进两个字符 */
}

img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
    margin-top: 20px;
}
/* 新增的掉落星星动画的CSS规则 */
.star {
    position: absolute;
    top: 0; /* 让星星从页面顶部开始下落 */
    z-index: 999; /* 确保星星的层级高于页面上的文字 */
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 8px yellow;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}
/* 设置两个菜单的格式 */
    nav ul {
        list-style-type: none; /* 移除列表符号 */
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333; /* 背景颜色 */
    }

    nav li {
        float: left; /* 横向排列 */
    }

    nav li a {
        display: block; /* 让链接填满整个li */
        color: white; /* 链接文字颜色 */
        text-align: center; /* 文字居中 */
        padding: 14px 16px; /* padding调整菜单项的大小 */
        text-decoration: none; /* 去除下划线 */
    }

    /* 链接在鼠标悬停时改变颜色 */
    nav li a:hover {
        background-color: #111; /* 悬停时的背景颜色 */
    }
/* 设置两个菜单的格式 */

/* 设置音乐播放器的位置 */
nav .player {
    float: right; /* 使播放器在右边 */
    height: 48px; /* 音乐播放器的高度 */
    line-height: 48px; /* 设置行高与播放器高度一致，使其垂直居中 */
}

audio#audioPlayer {
    margin: auto; /* 自动边距对齐 */
    vertical-align: middle; /* 垂直居中 */
}

/* 设置转动的图片 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

#rotatingImg {
    width: 40px; /* 设置图片宽度 */
    height: 40px; /* 设置图片高度 */
    animation: spin 4s linear infinite; /* 设置动画效果 */
    display: inline-block; /* 设置为内联块元素 */
    vertical-align: middle; /*
    position: relative;
    top: -0px; 
}


/* 图片画廊的基础样式 */
#gallery-container {
    text-align: center;
}

.image-container {
    display: inline-block;
    margin: 10px;
}

.gallery-image {
    width: 200px;
    cursor: pointer;
}

/* 放大图片显示器的样式 */
#lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: none;
}

#lightbox img {
    width: 500px;
    height: auto;
}

#lightbox button {
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 10px;
}

.hidden {
    display: none;
}
